.navbar-inferior-contenedor-papa, main .compras .titulo-seccion, main .registro .titulo-seccion, main .hero-seccion, main .productos-destacados .producto-contenedor .producto-card, main .productos-destacados .titulo-seccion, .footer {
  display: flex;
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

body header .navbar-contenedor-general {
  background-color: rgba(0, 0, 0, 0.814) !important;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  align-self: normal; }
  body header .navbar-contenedor-general .contenedor-superior .nav-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
    width: 100%; }
    body header .navbar-contenedor-general .contenedor-superior .nav-contenedor .nav-logo .imagen-logo-imagen {
      background-color: white;
      border-radius: 50%;
      padding-left: 25px;
      margin-left: 163px; }
    body header .navbar-contenedor-general .contenedor-superior .nav-contenedor .nav-login {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      body header .navbar-contenedor-general .contenedor-superior .nav-contenedor .nav-login button {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        margin: 0 auto;
        max-width: 100px;
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
        padding-left: 2px; }
      body header .navbar-contenedor-general .contenedor-superior .nav-contenedor .nav-login a {
        color: brown;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3; }

.navbar-inferior-contenedor-papa {
  font-size: 2.2rem; }
  .navbar-inferior-contenedor-papa .navbar-inferior-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px; }
    .navbar-inferior-contenedor-papa .navbar-inferior-contenedor li a {
      color: white !important;
      transition: 1s; }
      .navbar-inferior-contenedor-papa .navbar-inferior-contenedor li a:hover {
        transform: scale(1.1); }

main .compras .titulo-seccion {
  background-image: url(../img/matesss.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  padding-left: 2rem; }
  main .compras .titulo-seccion h1 {
    background-color: rgba(0, 0, 0, 0.502);
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px; }

main .compras .cartel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 7rem; }
  main .compras .cartel h2 {
    color: brown; }

main .registro .titulo-seccion {
  background-image: url(../img/matesss.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  padding-left: 2rem; }
  main .registro .titulo-seccion h1 {
    background-color: rgba(0, 0, 0, 0.502);
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px; }

main .registro .form-registro {
  max-width: 400px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: column;
  gap: 10px;
  margin: 10px auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: center; }
  main .registro .form-registro .form-contenedor-nombre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
  main .registro .form-registro .form-contenedor-apellido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
  main .registro .form-registro .form-contenedor-email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
  main .registro .form-registro .form-contenedor-password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
  main .registro .form-registro .form-contenedor-genero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; }
    main .registro .form-registro .form-contenedor-genero h2 {
      font-size: 1.5rem; }
    main .registro .form-registro .form-contenedor-genero .form-contenedor-genero-opciones {
      margin-left: 5px;
      margin-right: 5px;
      gap: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
  main .registro .form-registro .form-contenedor-comentario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; }
    main .registro .form-registro .form-contenedor-comentario h2 {
      font-size: 1.8rem; }
  main .registro .form-registro .form-contenedor-botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; }

main .hero-seccion {
  background-image: url(../img/matesss.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  color: white;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px; }
  main .hero-seccion .hero-titulo {
    text-align: center;
    font-size: 4rem;
    background-color: rgba(128, 128, 128, 0.842);
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px; }
  main .hero-seccion .hero-texto {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
    text-align: center; }
  main .hero-seccion .hero-link {
    display: block;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 25px; }

main .galeria-fotos .galeria-contenedor {
  display: flex;
  flex-wrap: nowrap;
  width: 100%; }
  main .galeria-fotos .galeria-contenedor img {
    height: 100%;
    width: 100%;
    display: block; }

main .bienvenidos-seccion .bienvenidos-titulo {
  font-size: 4rem;
  background-color: rgba(128, 128, 128, 0.842);
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  text-align: center; }

main .bienvenidos-seccion .bienvenidos-texto {
  text-align: center;
  font-size: 2rem;
  background-color: rgba(44, 47, 46, 0.23); }

main .productos-destacados h2 {
  align-items: center;
  font-size: 3rem;
  text-align: center; }

main .productos-destacados .producto-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  justify-items: center;
  gap: 25px;
  width: 100%;
  margin-top: 50px; }
  main .productos-destacados .producto-contenedor .producto-card {
    border: 1px black solid;
    border-radius: 5px;
    transition: 1s;
    width: 75%;
    flex-direction: column; }
    main .productos-destacados .producto-contenedor .producto-card:hover {
      transform: scale(1.05); }
    main .productos-destacados .producto-contenedor .producto-card img {
      width: 100%; }
    main .productos-destacados .producto-contenedor .producto-card h3 {
      font-size: 1.8rem;
      color: brown;
      padding-top: 5px;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0; }
    main .productos-destacados .producto-contenedor .producto-card a {
      border: 1px black solid;
      border-radius: 20px;
      background-color: brown;
      color: white;
      font-size: 1.3rem;
      margin-bottom: 10px;
      padding-top: 0;
      padding-right: 7px;
      padding-bottom: 0;
      padding-left: 7px; }
    main .productos-destacados .producto-contenedor .producto-card h2 {
      font-size: 2rem; }

main .productos-destacados .titulo-seccion {
  background-image: url(../img/matesss.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  padding-left: 2rem; }
  main .productos-destacados .titulo-seccion h1 {
    background-color: rgba(0, 0, 0, 0.502);
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px; }

main .productos-destacados .titulo-seccion {
  background-image: url(../img/matesss.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  padding-left: 2rem; }
  main .productos-destacados .titulo-seccion h1 {
    background-color: rgba(0, 0, 0, 0.502);
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px; }

main .productos-destacados .titulo-seccion {
  background-image: url(../img/matesss.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  padding-left: 2rem; }
  main .productos-destacados .titulo-seccion h1 {
    background-color: rgba(0, 0, 0, 0.502);
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px; }

.footer {
  flex-direction: column;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-top: 30px;
  background-color: grey; }
  .footer .redes img {
    width: 45px;
    margin-right: 8px;
    margin-left: 8px; }
  .footer .footer-links {
    display: flex;
    gap: 25px;
    margin-top: 30px; }

@media (max-width: 768px) {
  body header .navbar-contenedor-general .contenedor-superior .nav-contenedor .nav-buscar {
    display: none !important; }
  body header .navbar-contenedor-general .contenedor-superior .nav-contenedor .nav-login {
    display: none !important; }
  body header .navbar-contenedor-general .contenedor-superior .nav-contenedor .nav-logo .imagen-logo-imagen {
    margin-left: 229px; }
  body header .navbar-contenedor-general .contenedor-inferior {
    justify-content: end; }
  body main .bienvenidos-seccion .bienvenidos-titulo {
    font-size: 2.5rem; }
  body main .bienvenidos-seccion .bienvenidos-texto {
    font-size: 1.5rem; }
  body main .productos-destacados h2 {
    font-size: 2rem; }
  body main .productos-destacados .producto-contenedor {
    grid-template-columns: 1fr 1fr; }
    body main .productos-destacados .producto-contenedor .producto-card h3 {
      font-size: 25px; } }

@media (max-width: 375px) {
  body header .navbar-contenedor-general .contenedor-superior .nav-contenedor .nav-buscar {
    display: none !important; }
  body header .navbar-contenedor-general .contenedor-superior .nav-contenedor .nav-login {
    display: none !important; }
  body header .navbar-contenedor-general .contenedor-superior .nav-contenedor .nav-logo .imagen-logo-imagen {
    width: 59%;
    margin-left: 68px;
    padding-left: 25px; }
  body header .navbar-contenedor-general .contenedor-inferior {
    justify-content: end; }
    body header .navbar-contenedor-general .contenedor-inferior .navbar-inferior-contenedor-papa {
      font-size: 1rem;
      margin-top: 20px; }
  body main .hero-seccion .hero-titulo {
    font-size: 2rem; }
  body main .hero-seccion .hero-texto {
    font-size: 1.5rem; }
  body main .hero-seccion .hero-link {
    font-size: 1.2rem; }
  body main .bienvenidos-seccion .bienvenidos-titulo {
    font-size: 1.8rem; }
  body main .bienvenidos-seccion .bienvenidos-texto {
    font-size: 1.2rem; }
  body main .productos-destacados h2 {
    font-size: 1.6rem; }
  body main .productos-destacados .producto-contenedor {
    grid-template-columns: 1fr 1fr;
    gap: 15px; }
    body main .productos-destacados .producto-contenedor .producto-card h3 {
      font-size: 0.7rem; }
    body main .productos-destacados .producto-contenedor .producto-card h2 {
      font-size: 1rem; }
    body main .productos-destacados .producto-contenedor .producto-card a {
      font-size: 1rem; }
  body main .compras .cartel {
    margin-bottom: 0;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px; }
    body main .compras .cartel h2 {
      text-align: center; }
    body main .compras .cartel p {
      text-align: center; }
  body footer .footer-links {
    padding-left: 0;
    gap: 10px;
    margin-bottom: 0;
    margin-top: 18px !important; }
    body footer .footer-links li {
      font-size: 0.7rem; } }
