main{
    .productos-destacados{
        .titulo-seccion{
            @extend %flex;
            background-image: url(../img/matesss.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include padding (5rem, 2rem, 5rem, 2rem);
            h1{
                background-color: rgba(0, 0, 0, 0.502);
                color: $color-secundario;
                font-size: nth($font-size, 3);
                text-align: center;
                @include padding (7px, 15px, 7px, 15px);
            }
        }
        .producto-contenedor{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            width: 100%;
            .producto-card{
                border: 1px $color-cuarto solid;
                border-radius: 5px;
                @extend %flex;
                flex-direction: column;
                img{
                    width: 100%;
                }
                h2{
                    font-size: nth($font-size, 3);
                    color: $color-primario;
                    @include padding (5px, 0, 0, 0);
                }
                a{
                    border: 1px $color-cuarto solid;
                    border-radius: 20px;
                    background-color: $color-primario;
                    color: $color-secundario;
                    font-size: nth($font-size, 1);
                    margin-bottom: 10px;
                    @include padding (0, 7px, 0, 7px);
                }
            }
        }
    }
}